<div class="text-center pl-5 pr-5 folder row">
	<div>
		<i class="fas fa-folder xl-icon" title="<%= folder.name %>"></i>
		<br>
		<div>
			<%= folder.name %>
		</div>
	</div>
	<div>
		<i class="fas fa-pencil-alt xs-icon ml-2 float-left" title="<%= folder.name %>" data-toggle="modal" data-target="#add_folder_modal"></i>
	</div>
</div>