
<% if @folders.present? %>
<div class="text-info col-md-12 m-2">
	<h5>Folders</h5>
</div>

<% @folders.each do |folder| %>
<div id="folder_<%= folder.id %>">
	<%= render 'folders/each', {folder: folder} %>
</div>
<% end %>

<% end %>