<!-- links for new -->
	<%= render "shared/create_buttons" %>
<!-- links for new -->



<%= render "shared/modals" %>


<div class="clearfix mt-2">
</div>

<!-- list begins -->
<div class="row" id="folder_list">
	<%= render 'folders/list' %>
</div>
<!-- list end -->


<div class="row" id="upload_list">
	<%= render 'uploads/list' %>
</div>