<span>
	<i class="fas fa-plus-square mid-icon float-right" data-toggle="modal" data-target="#add_folder_modal"></i>
</span>

<%= render 'folders/modal' %>

<div class="clearfix mt-2">
</div>

<div class="row">
	<%= render 'folders/list' %>
</div>