<!-- links for new -->
<span>
	<%= link_to new_folder_path, remote: true do %>
	<i class="fas fa-plus-square mid-icon float-right" data-toggle="modal" data-target="#add_folder_modal"></i>
	<% end %>
</span>
<!-- links for new -->



<!-- modal begins -->
<div class="modal fade" id="add_folder_modal" role="dialog">
	<div class="modal-dialog" id="render_form">

	</div>
</div>
<!-- modal end -->



<div class="clearfix mt-2">
</div>

<!-- list begins -->
<div class="row" id="folder_list">
	<%= render 'folders/list' %>
</div>
<!-- list end -->