<div class="float-left">
	
	<% nav_list = [] %>
	<% nav = @root_folder %>
	<% nav_list << nav %>

	<% while nav.parent.present? do %>
		<% nav = nav.parent %>
		<% nav_list << nav %>
	<% end %>


	<% nav_list.reverse.each do |nav| %>
	<% if nav_list.first == nav %>
	<%= nav.name %>
	<% else %>
	<%= link_to nav.name, folder_uploads_path(nav) %> /
	<% end %>
	<% end %>


</div>

<span>
	<%= link_to new_folder_upload_path(folder_id: @root_folder.id), remote: true do %>
		<i class="fas fa-plus-square mid-icon float-right add file" data-toggle="modal" data-target="#uploads_modal"></i>
	<% end %>
</span>

<span>
	<%= link_to new_folder_path(parent_id: @root_folder.id), remote: true do %>
	<i class="fas fa-folder-plus mid-icon float-right mr-2 orange" data-toggle="modal" data-target="#add_folder_modal"></i>
	<% end %>
</span>