<!-- modal begins -->
<div class="modal fade" id="add_folder_modal" role="dialog">
	<div class="modal-dialog" id="folder_form_render">

	</div>
</div>
<!-- modal end -->



<!-- modal begins -->
<div class="modal fade" id="uploads_modal" role="dialog">
	<div class="modal-dialog" id="file_form_render">

	</div>
</div>
<!-- modal end -->
