<div>
	<div>
		<%= link_to rails_blob_path(upload, disposition: 'preview'), target: 'blank' do %>
		<i class="fas fa-folder xl-icon" title="<%= upload.filename %>"></i>
		upload.filename
		<% end %>
	</div>
</div>