<span>
	<%= link_to new_folder_upload_path, remote: true do %>
		<i class="fas fa-plus-square mid-icon float-right" data-toggle="modal" data-target="#uploads_modal"></i>
	<% end %>
</span>

<%= render 'uploads/modal' %>

<div class="clearfix mt-2">
</div>

<div class="row" id="upload_list">
	<%= render 'uploads/list' %>
</div>